@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.btn{
  align-self: center;
  margin-left: 40%;
}

body {
  background-color: #fff;
  display: flex;
  color: #242333;
  flex-direction: column;
  /* align-items: center;
  height: 100vh; */
  justify-content: center;
}

.room-container {
  margin: 20px 0px;
}

.room-container select {
  background-color: rgb(105, 184, 236); 
  border: 0px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat {
  background-color: #cfcfda;
  height: 75px;
  width: 75px;
  margin: 7px;
}

.row {
  display: flex;
}

.seat.selected {
  background-color: #6ff69c;
}

.seat.occupied {
  background-color: rgb(233, 99, 106);
}
/* 
.seat:nth-of-type(2) {
  margin-right: 18px;
} */
/* 
.seat:nth-last-of-type(2) {
  margin-left: 18px;
} */

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}
/* 
.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
} */

.showcase {
  background-color: rgba(238, 234, 234, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-left: 1%;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}


p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}